<html>
<head>
  <title>Clienti</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="table.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<head>
<body>


 <div id="app" >
  <div class="top_titles grid-container" >
    <div class="grid-item"> id </div>
    <div class="grid-item"> Nume </div>
    <div class="grid-item"> Adresa </div>
    <div class="grid-item"> Email </div>            
    <div class="grid-item"> Varsta </div>
    <div class="grid-item">
        Actiuni
    </div>
  </div>

  <datatable
    v-for="(result, index) in results"
    v-bind:key="result.id"
    v-bind:result="result"
    v-bind:selectedrow = index    
    v-on:remove="results.splice(index, 1)"
    @getindex="updateIndex"
  ></datatable>
 
   <delete-row 
   v-bind:rowindex="childdata"
   v-on:remove="results.splice(childdata, 1)"
   > </delete-row> 


   <edit-row 
    v-bind:errors="errors"
    v-bind:rowindex="childdata"
    v-bind:result="results[childdata]"
   > </edit-row> 
</div>

  <script src="table.js"></script>

</body>
</html>