
.grid-container{
  display: grid;
  grid-template-columns: 1fr 2fr 4fr 2fr 1fr 3fr;
  }

.row {
  display: inline-grid;
}

.grid-item {
  justify-self: center;
}

.top_titles.grid-container {
  font-weight: 600;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  background-color: #f6f6f6;
}

.grid-container {
    border-bottom: 1px solid;
    padding: 10px 0px;
}

.modal-header {
  border-bottom: 0px !important;
}

.modal-footer {
  border-top: 0px !important;
  justify-content: center !important;
}